<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
   
      <location path="profiles.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>

      <location path="Guestbook.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>
      <location path="SendMessage.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>
      <location path="Update-profile.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>
      <location path="Messages.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>
      <location path="Invite.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>
      <location path="Viewitem.aspx">
        <system.web>
          <authorization>
            <deny users="?" />

          </authorization>
        </system.web>
      </location>


      <location path="Delete-comments.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Admin.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Upload-photos.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Add-new-album.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="Delete-photos.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
      <location path="PostNews.aspx">
        <system.web>
          <authorization>
            <deny users="?" />
            <allow users="adminsrec" />
            <deny users="*" />
          </authorization>
        </system.web>
      </location>
   
</configuration>
